version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mi_basedatos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  identity:
    build:
      context: .
      dockerfile: Identity/Dockerfile
    container_name: identity-service
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=postgres-db;Port=5432;Database=eCommerce;Username=postgres;Password=postgres"
    ports:
      - "8080:8080"
      - "8081:8081"

volumes:
  postgres_data:
